* {
	box-sizing: border-box;
}
body {
	margin: 25px;
	font-family: Arial, sans-serif;
}
header {
	text-align: center;
}
header .email {
	color: blue;
	text-decoration: underline;
}
article {
	margin: 25px;
}
li {
	padding: 10px;
}